
<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body>
{{> nav}}
<section class="single-product">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-5">
                <img src='/uploads/{{data.imagen}}' alt='' class="img-fluid" />
            </div>
            <div class="col-md-7">
                <div class="single-product-details">
                    <h2>{{data.nombre}}</h2>
                    <p class="product-price">{{dolarApeso data.precio}}</p>

                    <p class="mt-2">
                        {{data.descripcion}}
                    </p>

                    {{#list data.caracteristicas}}
                        <li>{{this}}</li>
                    {{/list}}
                    

                    <a href="mailto:comprar@comprar.com?subject=interes en el producto {{data.nombre}} ID: {{data.id}}" class="btn btn-info mt-20">Comprar</a>
                    
                </div>
            </div>
        </div>

    </div>
</section>
{{> footer}}

</body>
</html>